body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.auth-panel {
  font-size: 18px;
  margin-top: 3px;
  margin-left: 84%;
}

.signout-panel {
  text-align: right;
  font-size: 18px;
  margin-top: 3px;
  margin-right: 1%;
}

.links {
  font-size: 18px;
  margin-left: 1%;
  float: left;
}

body {
  background-color: gainsboro;
}

.jumbotron {
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
  background-color: whitesmoke;
}

.controls {
  text-align: right;
  margin-left: 80%; 
}

.alert.alert-danger {
  width: 50%;
  margin-left: 26%;
  margin-top: 1%;
}

.pagination {
  margin-left: 47.5%;
  margin-bottom: 1%;
}